!!! 5
%html
%head
	%title Recipe App
	=stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	=javascript_include_tag 'application', 'data-turbolinks-track' => true 
	=csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Recipe Box", root_path

			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Recipe", new_recipe_path
				%li= link_to "Sign_out", root_path

	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert"

		= yield


